* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

#root{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 16px;
  background-color: #E5E5E5;
}

.app-container {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 550px;
  min-height: 400px;
  background-color: #F5F7FB;
}

.app-container.running {
  display: block;
}

.top-right-blob {
  position: absolute;
  right: 0px;
  z-index: 0;
}

.bottom-left-blob {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.quiz-intro {
  align-self: center;
  text-align: center;
}

.title {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.95rem;
  line-height: 37px;
  margin-bottom: 7px;
  color: #293264;
}

.description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin-bottom: 25px;
}

.start-quiz-btn {
  background: #4D5B9E;
  border-radius: 15px;
  border: none;
  width: 193px;
  height: 52px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;
}

.quiz-container{
  position: relative;
  z-index: 1;
  padding: 7.3% 13.5% 4.5%;
}

.quiz-question {
  font-family: 'Karla';
  word-wrap: break-word;
  font-style: normal;
  margin: 12px 0px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  color: #293264;
}

.quiz-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 13px;
  padding-bottom: 15px;
  border-bottom: 1px solid #DBDEF0;;
}

.option{
  border: 0.794239px solid #4D5B9E;
  border-radius: 8px;
  font-size: 0.64rem;
  line-height: 12px;
  text-align: center;
  color: #293264;
  padding: 4px 20px;
}

.option:hover{
  cursor: pointer;
}

.selected {
  background-color: #94D7A2;
  color: #293264;
}

.button-div{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.check-answers {
  width: 120px;
  height: 35px;
  z-index: 1;
  position: relative;
  background: #4D5B9E;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.64rem;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB;
}